<div>
    {{#if user}}
    <h1>Bienvenido {{user.name}}</h1>
    <br>
    <h2>Tus datos:</h2>
    <br>
    <p>{{user.name}}</p>
    <br>
    <p>{{user.age}}</p>
    <br>
    <p>{{user.email}}</p>
    <br>
    <p>{{user.role}}</p>
    <br>

    {{#if user.cartId}}
        <p>ID de tu Carrito: <span>{{user.cartId}}</span></p>
        <a href="/views/users/purchase">Finalizar compra</a>
        {{else}}
            <p>No tenes un carrito asociado a tu perfil</p>
    {{/if}}

    {{!-- <section>
        <h2>Agregar producto al carrito</h2>
        <form id="addtocart">
            <label for="cartid">ID del carrito</label>
            <input type="text" id="cartid" name="cartid" required>
            <label for="productid">ID del producto</label>
            <input type="text" id="productid" name="productid" required>
            <button type="submit">Agregar</button>
        </form>
    </section> --}}

    {{else}}
    <h1>Usted no ha iniciado la sesion...</h1>
    <br>
    <p>Inicie sesion para ver su perfil:</p>
    <a href="/views/users/login">Log-In</a>
    <br>
    <p>Si no esta registrado, registrese:</p>
    <a href="/views/users/register">Registrarse</a>
    {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>