

{{!-- Renderizar la lista de los productos --}}
<section>
    <h1>Lista de productos</h1>
    {{#if products.length}}
        <ul id="listaProductos" class="flex">
            {{#each products}}
                <li class="films">
                    <h3>Titulo: {{this.title}}</h3>
                    <p>Descripcion: {{this.description}}</p>
                    <p>Codigo: {{this.code}}</p>
                    <p>Precio: ${{this.price}}</p>
                    <p>Estado: {{this.status}}</p>
                    <p>Stock: {{this.stock}}</p>
                    <p>Categoria: {{this.category}}</p>
                    <img class="poster" src="{{#if this.image}}{{this.image}}{{else}}{{this.thumbnails}}{{/if}}" alt="{{this.title}}">
                </li>
            {{/each}}
        </ul>
        {{else}}
            <p>No hay productos disponibles.</p>
    {{/if}}
</section>

<section class="navNumber">
    <div>{{#if hasPrevPage}}
        <a href={{prevLink}}>Pagina anterior <<</a>
        {{/if}}
    </div>
    <span>{{this.page}}</span>
    <div>{{#if hasNextPage}}
        <a href={{nextLink}}>>> Pagina siguiente </a>
        {{/if}}
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>